MystiflyOnePointAPI/Service References/OnePointService/OnePoint5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Mystifly.OnePoint.OnePointEntities" elementFormDefault="qualified" targetNamespace="Mystifly.OnePoint.OnePointEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apidemo.myfarebox.com/V2/OnePoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" />
  <xs:complexType name="ExtraService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtraService" nillable="true" type="tns:ExtraService" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Behavior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckInType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" minOccurs="0" name="ServiceCost" nillable="true" type="q1:ServiceCost" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfServices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Services" nillable="true" type="tns:Services" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServices" nillable="true" type="tns:ArrayOfServices" />
  <xs:complexType name="Services">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraServiceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Services" nillable="true" type="tns:Services" />
</xs:schema>