Lunggo.ApCommon/Service References/Travolutionary.WebService.Hotel/DynamicDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights.RetrievePnr" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights.RetrievePnr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights" />
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.General" />
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd5" namespace="http://gimmonix/carsolize/public" />
  <xs:complexType name="RetrievePnrResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://gimmonix/carsolize/public" base="q1:FlightSegmentBookResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights" minOccurs="0" name="FlightRoute" nillable="true" type="q2:FlightRoute" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.General" minOccurs="0" name="Passengers" nillable="true" type="q3:ArrayOfFlightCustomerInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetrievePnrResponse" nillable="true" type="tns:RetrievePnrResponse" />
</xs:schema>