Lunggo.ApCommon/Service References/Travolutionary.WebService.Hotel/DynamicDataService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Orders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd2" />
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IsuBe.Base.Enums" />
  <xs:complexType name="GetOrdersRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="ServiceRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Credentials" nillable="true" type="Credentials" />
          <xs:element minOccurs="0" name="DateFilterType" type="tns:DateFilterType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrdersToSkip" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IsuBe.Base.Enums" minOccurs="0" name="ServiceType" type="q1:ServiceType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrdersRequest" nillable="true" type="tns:GetOrdersRequest" />
  <xs:simpleType name="DateFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OrderDate" />
      <xs:enumeration value="CancellationPolicyStartDate" />
      <xs:enumeration value="StartDate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DateFilterType" nillable="true" type="tns:DateFilterType" />
</xs:schema>