Lunggo.ApCommon/Service References/Travolutionary.WebService.Hotel/DynamicDataService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd2" />
  <xs:element name="ServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rqst" nillable="true" type="DynamicDataServiceRqst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceRequestResult" nillable="true" type="DynamicDataServiceRsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>