TravolutionaryWebServiceTest/Service References/Travolutionary.WebService/DynamicDataService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights.FareInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.Flights.FareInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFareRulesSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FareRulesSet" nillable="true" type="tns:FareRulesSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFareRulesSet" nillable="true" type="tns:ArrayOfFareRulesSet" />
  <xs:complexType name="FareRulesSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareRules" nillable="true" type="tns:ArrayOfFareRule" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SegmentsIds" nillable="true" type="q1:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRulesSet" nillable="true" type="tns:FareRulesSet" />
  <xs:complexType name="ArrayOfFareRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FareRule" nillable="true" type="tns:FareRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFareRule" nillable="true" type="tns:ArrayOfFareRule" />
  <xs:complexType name="FareRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRule" nillable="true" type="tns:FareRule" />
</xs:schema>