TravolutionaryWebServiceTest/Service References/Travolutionary.WebService/DynamicDataService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IsuBe.Public.Enteties.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IsuBe.Base.Enums" />
  <xs:import schemaLocation="http://services.carsolize.com/BookingServices/DynamicDataService.svc?xsd=xsd2" />
  <xs:complexType name="ArrayOfFlightCustomerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightCustomerInfo" nillable="true" type="tns:FlightCustomerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightCustomerInfo" nillable="true" type="tns:ArrayOfFlightCustomerInfo" />
  <xs:complexType name="FlightCustomerInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="CustomerInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="FrequentFlyerCarrier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FrequentFlyerNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IsuBe.Base.Enums" minOccurs="0" name="MealPreference" type="q1:FlightMealPreference" />
          <xs:element minOccurs="0" name="PassportDetails" nillable="true" type="tns:PassportDetails" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IsuBe.Base.Enums" minOccurs="0" name="SeatPreference" type="q2:FlightSeatPreference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FlightCustomerInfo" nillable="true" type="tns:FlightCustomerInfo" />
  <xs:complexType name="PassportDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PassportDetails" nillable="true" type="tns:PassportDetails" />
  <xs:simpleType name="ServiceRequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Login" />
      <xs:enumeration value="Search" />
      <xs:enumeration value="Book" />
      <xs:enumeration value="CancelBooking" />
      <xs:enumeration value="Amend" />
      <xs:enumeration value="CheckBookingStatus" />
      <xs:enumeration value="RetrieveInfo" />
      <xs:enumeration value="AddBookingRemarks" />
      <xs:enumeration value="GetCancelationPolicy" />
      <xs:enumeration value="GetAdditionalDetails" />
      <xs:enumeration value="GetPaymentPreferences" />
      <xs:enumeration value="MakeInvoice" />
      <xs:enumeration value="GetOrders" />
      <xs:enumeration value="Check3DSecureVerified" />
      <xs:enumeration value="RepriceItem" />
      <xs:enumeration value="GetCurrencyConversionRates" />
      <xs:enumeration value="StatelessSearch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceRequestType" nillable="true" type="tns:ServiceRequestType" />
  <xs:complexType name="Payment3DSecureEnrollment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcsUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaReq" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment3DSecureEnrollment" nillable="true" type="tns:Payment3DSecureEnrollment" />
</xs:schema>