Lunggo.BackendWeb/Service References/Mystifly.OnePointService.Flight/OnePoint4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint.AirRules1_1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint.AirRules1_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservices.myfarebox.com/V2/OnePoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" />
  <xs:complexType name="AirRulesRQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareSourceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" minOccurs="0" name="Target" type="q1:Target" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRulesRQ" nillable="true" type="tns:AirRulesRQ" />
  <xs:complexType name="AirRulesRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaggageInfos" nillable="true" type="tns:ArrayOfBaggageInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" minOccurs="0" name="Errors" nillable="true" type="q2:ArrayOfError" />
      <xs:element minOccurs="0" name="FareRules" nillable="true" type="tns:ArrayOfFareRule" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mystifly.OnePoint" minOccurs="0" name="Target" type="q3:Target" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirRulesRS" nillable="true" type="tns:AirRulesRS" />
  <xs:complexType name="ArrayOfBaggageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaggageInfo" nillable="true" type="tns:BaggageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaggageInfo" nillable="true" type="tns:ArrayOfBaggageInfo" />
  <xs:complexType name="BaggageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Baggage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaggageInfo" nillable="true" type="tns:BaggageInfo" />
  <xs:complexType name="ArrayOfFareRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FareRule" nillable="true" type="tns:FareRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFareRule" nillable="true" type="tns:ArrayOfFareRule" />
  <xs:complexType name="FareRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityPair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FareBasis" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RuleDetails" nillable="true" type="tns:ArrayOfRuleDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRule" nillable="true" type="tns:FareRule" />
  <xs:complexType name="ArrayOfRuleDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleDetail" nillable="true" type="tns:RuleDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleDetail" nillable="true" type="tns:ArrayOfRuleDetail" />
  <xs:complexType name="RuleDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rules" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleDetail" nillable="true" type="tns:RuleDetail" />
</xs:schema>